<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419097121301-ugdeejuo75dv7aa04snorn48dnafehfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419097121301-ugdeejuo75dv7aa04snorn48dnafehfh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>419097121301-t9ictg98oci7r5mac5bieebh6vh3vbm9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWBeA8aBJoZfDTj1CDLV4KogUA_lNzxNM</string>
	<key>GCM_SENDER_ID</key>
	<string>419097121301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pulsera.hrms</string>
	<key>PROJECT_ID</key>
	<string>pulsera-hrms</string>
	<key>STORAGE_BUCKET</key>
	<string>pulsera-hrms.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419097121301:ios:2051b3a65b20262720741c</string>
</dict>
</plist>